.blog{
  padding: 20px;  
    &__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-left: 30px;
        padding-right: 50px;
    }
    &__category{
        margin-bottom: 36px;
    }
    &__category-title,
    &__tags-title{
        margin-bottom: 15px;
        color: $title;
        @extend %title-font;
        line-height: 23px;    
    }
    &__category-item{
        margin-bottom: 12px;
    }
    &__category-link{
        color: inherit;
    }
    &__tags{
        margin-bottom: 50px;
    }
    &__tags-link{
        color: #8F8D8D;
        font-weight: 600;
        font-size: 14px;
        padding: 0 16px;
        margin-bottom: 10px;
        margin-right: 10px;
        display: inline-block;
        border-radius: 14px;
        border: 1px solid rgba(#454647, .5);
       
    }
    &__social{
        display: flex;
    }
    &__social-item{
        margin-right: 16px;
    }
    &__items{
        max-width: 730px;
    }
    &__item{
        margin-bottom: 80px;
    }
    &__item-img{
        max-width: 730px;
        object-fit: cover;
    }
    &__item-title{
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 6px;
        color:$title;
        @extend %title-font;
    }
    &__blogquote{
        background: rgba(223, 223, 223, 0.50);
        margin: 50px 20px;
        padding: 10px 10px;
        font-weight: 300;
        font-style: italic;
        font-size: 20px;
        text-align: center;
    }
    &__blogquote-autor{
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        margin-top: 30px;
        text-align: center;

    }

}

.resent-posts{
    margin-bottom: 40px;
    &__title{
        margin-bottom: 24px;
        color: $title;
        @extend %title-font;
        line-height: 23px;    
    }
    &__item{
        margin-bottom: 11px;
    }
    &__item-title{
        display: block;
        color: inherit;
    }
    &__date,
    &__autor{
        color: #a1a1a1;
        font-size: 14px;
    }
}

.aside{
    width: 350px;
    margin-left: 30px;
    &__search{
        position: relative;
        margin-bottom: 40px;
    }
    &__search-input{
        
        padding: 6px 45px 6px 18px;
        border: 1px solid rgba($title, .7);
        border-radius: 20px;
        opacity: 0.7;
        display: block;
        width: 100%;
        &::placeholder{
             font-size: 16px;
             line-height: 27px;
             font-weight: 400px;
             color: #5a5a5a;
        }
       

    }
    &__search-btn{
     
        border: none;
        background-color: transparent;
        position: absolute;
        top: 10px;
        right: 13px;
        cursor: pointer;
       
    }

}